# Coursera IBM Data Science Certificate
## Capstone Project week 4+5

#### Introduction/Business Problem
My client is a family who's lived in New York for the last 10 years. Husband and wife have a good reputation on the local job market and were able to transition fully into home office working arrangements. They have gotten quite tired of the many people in New York, however they do appreciate its cultural offerings, bars, parks and general characteristics. They decided to have children soon and need to move to a smaller city. Thus, they asked me to analyze the top 50 cities in the US by population and find one that has the same flair and characteristics as NY, however with fewer people.

#### Data that will be used
For the problem at hand, I will firstly need the names of the top 50 US cities by population. I will take these from a table on Wikipedia. This will enable me to run sophisticated location analysis with the Foursquare API. 

I will then pull the most trending venues for each city and sort them by frequency and category via the Foursquare API. These venues will serve as the basis for running a cluster algorithm and categorize each US city according to the most common venue categories. The result will be shown in a folium map which can be used to identify cities that possess the same characteristics as NY.

### Please be advised that the exploration endpoint of Foursquare will give different results for trending venues depending on the day, time etc. Thus, the result may deviate if you run this script at different times

In [54]:
%matplotlib inline
import matplotlib.cm as cm
import matplotlib.colors as colors
from sklearn.cluster import KMeans
import numpy as np
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [55]:
!pip -q install folium==0.5.0
import folium

In [56]:
!pip -q install geocoder
import geocoder

In [57]:
!pip -q install requests
import requests

## Pulling and cleaning of initial dataframe

In [58]:
df = pd.read_html(
    "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")[4][["City", "2018estimate"]].iloc[:50]
df

                 City  2018estimate
0         New York[d]       8398748
1         Los Angeles       3990456
2             Chicago       2705994
3          Houston[3]       2325502
4             Phoenix       1660272
5     Philadelphia[e]       1584138
6         San Antonio       1532233
7           San Diego       1425976
8              Dallas       1345047
9            San Jose       1030119
10             Austin        964254
11    Jacksonville[f]        903889
12         Fort Worth        895008
13           Columbus        892533
14   San Francisco[g]        883305
15          Charlotte        872498
16    Indianapolis[h]        867125
17            Seattle        744955
18          Denver[i]        716492
19      Washington[j]        702455
20             Boston        694583
21            El Paso        682669
22            Detroit        672662
23       Nashville[k]        669053
24           Portland        653115
25            Memphis        650618
26      Oklahoma City        649021
27          Las Vegas        644644
28      Louisville[l]        620118
29       Baltimore[m]        602495
30          Milwaukee        592025
31        Albuquerque        560218
32             Tucson        545975
33             Fresno        530093
34               Mesa        508958
35         Sacramento        508529
36            Atlanta        498044
37        Kansas City        491918
38   Colorado Springs        472688
39              Miami        470914
40            Raleigh        469298
41              Omaha        468262
42         Long Beach        467354
43  Virginia Beach[m]        450189
44            Oakland        429082
45        Minneapolis        425403
46              Tulsa        400669
47          Arlington        398112
48              Tampa        392890
49     New Orleans[n]        391006

In [ ]:
# Cleaning up the dataframe and adding a size_folium column for the size of marker circles later in the process
df["City"] = df["City"].apply(lambda x: x.split("[")[0])
df["Size_Folium"] = df["2018estimate"]/ 1000000
df = df.drop("2018estimate", axis=1)
df

                City  Size_Folium
0           New York     8.398748
1        Los Angeles     3.990456
2            Chicago     2.705994
3            Houston     2.325502
4            Phoenix     1.660272
5       Philadelphia     1.584138
6        San Antonio     1.532233
7          San Diego     1.425976
8             Dallas     1.345047
9           San Jose     1.030119
10            Austin     0.964254
11      Jacksonville     0.903889
12        Fort Worth     0.895008
13          Columbus     0.892533
14     San Francisco     0.883305
15         Charlotte     0.872498
16      Indianapolis     0.867125
17           Seattle     0.744955
18            Denver     0.716492
19        Washington     0.702455
20            Boston     0.694583
21           El Paso     0.682669
22           Detroit     0.672662
23         Nashville     0.669053
24          Portland     0.653115
25           Memphis     0.650618
26     Oklahoma City     0.649021
27         Las Vegas     0.644644
28        Louisville     0.620118
29         Baltimore     0.602495
30         Milwaukee     0.592025
31       Albuquerque     0.560218
32            Tucson     0.545975
33            Fresno     0.530093
34              Mesa     0.508958
35        Sacramento     0.508529
36           Atlanta     0.498044
37       Kansas City     0.491918
38  Colorado Springs     0.472688
39             Miami     0.470914
40           Raleigh     0.469298
41             Omaha     0.468262
42        Long Beach     0.467354
43    Virginia Beach     0.450189
44           Oakland     0.429082
45       Minneapolis     0.425403
46             Tulsa     0.400669
47         Arlington     0.398112
48             Tampa     0.392890
49       New Orleans     0.391006

#### Coordinate search for all cities

In [ ]:
def location_search(df_row):
    for city in df_row:
        location = geocoder.osm("{}".format(city))
        lat, lng = location.latlng
        return "{}, {}".format(lat, lng)


df[["Latitude", "Longitude"]] = df.apply(location_search, axis=1).str.split(",", expand=True)
df.head(15)

## Defining a function that uses the city locations to retrieve data from Foursquare API
# Please use your Foursquare API key and secret here

In [ ]:
# The code was removed by Watson Studio for sharing.

In [ ]:
def api_searcher(city_name, latitude, longitude):
    venues = []

    for city, lat, lng in zip(city_name, latitude, longitude):
        end_point = "explore"
        test_url = 'https://api.foursquare.com/v2/venues/{}'.format(end_point)

        params = dict(
            client_id= api_key,
            client_secret= api_secret,
            v=datetime.datetime.now().strftime("%Y%m%d"),
            ll='{}, {}'.format(lat, lng),
            limit=20,
            radius = 5000
        )

        result = requests.get(url=test_url, params=params).json()
        # print(json.dumps(result, indent=4))
        filtered_items = result["response"]["groups"][0]["items"]

        venues.append([(
            city,
            item["venue"]["name"],
            item["venue"]["location"]["lat"],
            item["venue"]["location"]["lng"],
            item["venue"]["categories"][0]["name"]) for item in filtered_items]
        )
    venue_list = pd.DataFrame([item for entry in venues for item in entry],
                              columns=["City", "Venue_name",
                              "Venue_latitude", "Venue_longitude", "Venue_category"])
    return venue_list

## If the following cell produces an error, please try running it again

In [ ]:
# Creation of dataframe with venue data
venue_df = api_searcher(df["City"], df["Latitude"], df["Longitude"])
venue_df

## Folium map of all the venues in all the cities that were used as a basis for the analysis

In [ ]:
map = folium.Map(location=[39.381266, -97.922211], zoom_start=3)
for name, lat, lng in zip(venue_df["Venue_name"], venue_df["Venue_latitude"], venue_df["Venue_longitude"]):
    name = name.replace("'", "")
    folium.CircleMarker(
        location=[lat, lng],
        fill= True,
        fill_color = "Black",
        radius=10,
        popup= name
    ).add_to(map)
map

### Creation of dataframe --- pre processing for machine learning

In [ ]:
global_onehot = pd.get_dummies(venue_df["Venue_category"])
global_onehot.insert(loc=0, column="City", value= venue_df["City"])
global_grouped = global_onehot.groupby(by="City").mean().reset_index()
global_grouped.head()

### Creation of summary dataframe that includes most common categories

In [ ]:
top_venue_categories = 10
appendices = ["st", "nd", "rd"]
columns = []

# Create columns of new dataframe
for i in np.arange(top_venue_categories):
    try:
        columns.append("{}{} most common category".format(i+1, appendices[i]))
    except:
        columns.append("{}th most common category".format(i+1))

# Create dataframe
summary_df = pd.DataFrame(columns= columns)
summary_df.insert(loc=0, column="City", value=global_grouped["City"])

def sort_rows_by_frequency(row, top_values):
    row_categories_sorted = row.sort_values(ascending=False)
    return row_categories_sorted.index.values[:top_values]

# Populate dataframe
for i in np.arange(global_grouped.shape[0]):
    summary_df.iloc[i, 1:] = sort_rows_by_frequency(global_grouped.iloc[i, 1:], top_venue_categories)

# Machine learning

In [ ]:
cluster_df = global_grouped.drop("City", axis=1)
num_clusters = 4

#Train model
kmeans = KMeans(n_clusters=num_clusters, random_state=0).fit(cluster_df)
summary_df.insert(loc=1, column= "Cluster_Label", value=kmeans.labels_)

# Join two dataframes for better overview
summary_df = summary_df.join(df.set_index("City"), on="City")

## Create folium map with clustered cities

In [ ]:
# Create random colors from jet colormap
colors_array = cm.jet((np.linspace(0, 1, num_clusters)))
colormap = [colors.rgb2hex(i) for i in colors_array]

#Create folium map
colors_array = cm.jet((np.linspace(0, 1, num_clusters)))
colormap = [colors.rgb2hex(i) for i in colors_array]

cluster_map = folium.Map(location=[39.381266, -97.922211], zoom_start=4)

for city, lat, lng, cluster, size in zip(summary_df["City"], summary_df["Latitude"], summary_df["Longitude"], summary_df["Cluster_Label"], summary_df["Size_Folium"]):
    lat = float(lat)
    lng = float(lng)
    folium.CircleMarker(location=[lat, lng],
                        radius=size + 10,
                        popup="{} ---> Cluster {}".format(city, cluster),
                        fill= True,
                        fill_color= colormap[cluster],
                        fill_opacity= 1
    ).add_to(cluster_map)

cluster_map

# Now, to solve the problem of the family, we would choose for them to move to a city that has the same cluster label as New York